.dropdown {
  position: relative;

  &__arrow {
    width: px-to-rem(20);
    height: px-to-rem(20);
  }
  &__icon {
    width: px-to-rem(16);
    height: px-to-rem(16);
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.75;
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    right: 0;
  }
}
