.articles__item--type-2 {
  padding: px-to-rem(24);

  .article__share {
    margin-bottom: px-to-rem(10);

    &-text {
      display: block;
      font-size: px-to-rem(16);
      font-weight: weight(semi-bold);
      line-height: px-to-rem(22);
      margin-left: px-to-rem(4);
    }
  }
}
