.user__id {
  font-size: px-to-rem(16);
  font-weight: weight(regular);
  line-height: px-to-rem(20);
  letter-spacing: px-to-rem(-0.5);
}

@media screen and (max-width: breakpoint(extra-small-max)) {
  .user__id {
    margin-bottom: px-to-rem(15);
  }
}
