.user {
  width: 100%;
  max-width: px-to-rem(350);

  flex-shrink: 0;
}

@media screen and (max-width: breakpoint(zero-max)) {
  .user {
    max-width: none;
  }
}
@media screen and (min-width: breakpoint(extra-small)) and (max-width: breakpoint(extra-small-max)) {
  .user {
    max-width: px-to-rem(500);
  }
}
