.account__name {
  color: #3E4056;
  font-family: var(--font-default);
  font-size: px-to-rem(16);
  font-weight: weight(regular);
  line-height: px-to-rem(20);
  letter-spacing: px-to-rem(-0.5);
  margin-right: px-to-rem(20);
}

@media screen and (max-width: breakpoint(extra-small-max)) {
  .account__name {
    max-width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
