.navigation {
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: px-to-rem(37);
    }
  }
  &__link {
    display: block;
    color: var(--default-alt);
    font-size: px-to-rem(14);
    font-weight: weight(semi-bold);
    padding-bottom: px-to-rem(20);
    transition: all 0.2s ease-in-out;
    opacity: 0.6;
    position: relative;

    &:hover {
      opacity: 1;
    }
    &--active {
      opacity: 1;

      &::after {
        content: '';
        display: block;
        background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);

        height: px-to-rem(4);
        width: 100%;

        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}

@media screen and (max-width: breakpoint(extra-small-max)) {
  .navigation {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
