.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    margin-bottom: px-to-rem(22);
  }
}

@media screen and (max-width: breakpoint(extra-small-max)) {
  .header__row {
    flex-wrap: wrap;
  }
}
