.user__avatar {
  border-radius: 50%;
  width: px-to-rem(120);
  height: px-to-rem(120);
  margin-right: px-to-rem(24);
  overflow: hidden;

  flex-shrink: 0;
}

@media screen and (max-width: breakpoint(extra-small-max)) {
  .user__avatar {
    width: px-to-rem(75);
    height: px-to-rem(75);
  }
}
