.articles__item--type-1 {
  padding: px-to-rem(56) px-to-rem(24) px-to-rem(24);

  .article__share {
    .dropdown__btn {
      color: #F05D63;
      font-size: px-to-rem(18);
      line-height: px-to-rem(25);

      &:hover {
        color: #E32C75;
      }
    }
  }
}
